@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebarBorderColor: #D2D2D2;
  --hoverColor: #C2D9FF;
  --buttomColor: #1E3A8A;
  --theadColor: #D0D0D0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebarBorderColor: var(--sidebarBorderColor);
  --color-hoverColor: var(--hoverColor);
  --color-buttomColor: var(--buttomColor);
  --color-theadColor: var(--theadColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-Be1 {
    background-image: url('/imagens/Be1.png')
  }
}
